html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #F3F3F3;
  margin: 0;
  font-size: 18px;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(66, 72, 116, 0.8);
  background-image: linear-gradient(115deg,
      rgba(66, 72, 116, 0.8),
      rgba(220, 214, 247, 0.7)),
    url(https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=1380&t=st=1667087763~exp=1667088363~hmac=5c07380ac167e6c9bc5f0797868544a934208cf48f6d8a477beeae6868aedf4d);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 400;
 
}

p {
  font-size: 18px;
}

h1,
p {
  margin-top: 16px;
  margin-bottom: 8px;
}

label {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

select {
  padding: 4px;
 
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 48px auto 0 auto;
}


@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 10px;
  margin-bottom: 28px;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 4px;
  font-size: 16px;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: rgba(66, 72, 116, 0.8);
  padding: 40px 32px;
  border-radius: 4px;
}

.form-group {
  margin: 0 auto 0 auto;
  padding: 4px;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 8px;
  color: rgba(66, 72, 116);
  background-color: #F4EEFF;
  background-clip: padding-box;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.asset-labels {
  letter-spacing: .5px;
}

.form-control:focus,
.input-textarea:focus,
select:focus {
  border-color: #DCD6F7;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(244, 238, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 8px;
  min-height: 20px;
  min-width: 20px;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 12px;
  resize: vertical;
  background-color: #F4EEFF;
  box-sizing: border-box;
  background-clip: padding-box;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 12px;
  background: #04AA6D;
  color: inherit;
  border-radius:  0 0 4px 4px;
  cursor: pointer;
  margin-top: -8px;
}

.submit-button:hover {
  opacity: 0.9;
  transition: 0.2s;
}